html {
	height: 100%;
}

/* Override nikola_ipython.css */
div.prompt {
  background-color: #FFFFFF;
}

div.input {
  border: none;
}

article span.byline-name.fn {
    display: none;
}

div.metadata {
	padding: 0px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

div#blog-title {
	color: #fafafa;
	font-size: 1.3em;
}

div#blog-description {
	color: #fafafa;
	font-size: 1.1em;
}

img#logo {
	margin-top: 5px;
	height: 150px;
    border-radius: 50%;
    border: 2px solid #9d9d9d;
}

body {
	height: 100%;
	font-family: 'Open Sans', sans-serif
/*	background-color: #f7fffb; */
	font-size: large;
}

.footerbox {
	width: 100%;
    background-color: black;
    color: #9d9d9d;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.container {
	hyphens: manual;
	-webkit-hyphens: manual;
	-moz-hyphens: manual;
}

.container h1 {
	text-align: center;
	font-size: 450%;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.storypage {
    margin-top:10px;
    padding-left: 5px;
    padding-right: 5px;
}

.metadata {
    padding-left: 10px;
}

h1 a {
	color: #222222;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.2em;
	hyphens: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
}

footer {
	margin-bottom: 5px;
}

.papertitle {
    display: block;
    font-weight: bold;
    font-size: 110%;
}

.paperblock {
    padding-bottom: 1em;
}

a .anchor {
    display: block;
    padding-top: 50px;
}
